body{
background-color: gray;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: white;
}
.pform{
background-color: white;
}

.lsight{
background-color: darkgreen;
color:white;
}

.jumbotron {
  height:100%;
  width:100%;
  background-color: darkgreen;
  color:white;
  text-transform: uppercase;
}
