{{#partial "content"}}

    <center><div class="container-fluid" id="welcome">
        <h1><strong>“The greatness of a nation and its moral progress can be judged by the way its animals are treated.”</strong>
            </h1>
        <h2 style=""><strong> *- Mahatma Gandhi -*</strong></h2><br>
        <br>
        <h2><strong>Welcome to Wild Life Tracker!!.</strong> </h2>
        <br><br>
        <h3><u><strong>Help Them to find a Home </strong></u></h3>
    <br><br>
        <div class="row" id="bSite">
            <div class="col-md-6">
                <a href="/posts/animals/new" style="color:White; background-color:green"; class="btn btn-outline-success btn-lg">Report A Sighting</a>
            </div>
            <div class="col-md-6">
                <a href="/posts/endangered-animals/new" style="color:White; background-color:green"; class="btn btn-outline-success btn-lg">Report An Endangered Sighting</a>
            </div>

        </div>

    </div>
    </center>



{{/partial}}
{{>layout.hbs}}
