{{#partial "content"}}
   <div style="text-align:center" class="container-fluid introduction">
           <div class="col-md-6 col-12 intro text-white">
               <h1>They are living things just like <strong>us</strong> </h1>
               <h3>Help the wild have a home again</h3>
               <a href="/add/sight" class="btn btn-lg submit mt-5 p-4">Submit Sighting</a>
           </div>
       <div class="col-md-6 col-12">
           <img src="images/home.jpeg" alt="" class="image-fluid "  id="lion-image">
       </div>
       </div>
{{/partial}}
{{> layout.hbs}}