{{#partial "content"}}
    <div class="container-fluid introduction">
        <div class="row">
            <div class="col-md-6 col-12 pl-5">
                <button class="btn endanger">Undangered species</button>
                <div class="about-endangered pt-4 text-white">
                    An undangered and striving species is a species which has been
                    categorized as doing very well in the food chain and will continue to strive in years to come.
                    <br><br>
                    Include all but the following:
                    <br>
                    <div class="row pt-2">
                        <div class="col-md-6 col-12">
                            Tiger <br>
                            Gorilla <br>
                            Amur Leopard
                        </div>
                        <div class="col-md-6 col-12">
                            Sea Turtles <br>
                            Orangutan <br>
                            Sumatran Elephant
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <img src="/images/other.svg" alt=""class="image-fluid endangered">
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}