{{#partial "content"}}
   <div class="container p-5">
       <div class="alert alert-success" role="alert">
           <h4 class="alert-heading">Well done!</h4>
           <p>Aww. yeah..Thanks for Caring.</p>
           <a class="btn btn-success" href="/">Back Home</a>
       </div>
   </div>
{{/partial}}

{{> layout.hbs}}